extends ../../base/layout

block content
    include ../../layout/header
    include ../../layout/navigation
    include ../../page-component/home/introduction
    include ../../page-component/home/special-product
    include ../../page-component/home/news-product
    include ../../page-component/home/gallery
    include ../../page-component/home/hot-product
    include ../../page-component/home/home-info
    