extends ../../base/layout

block content
    include ../../layout/header
    include ../../layout/navigation
    include ../../page-component/home/introduction
    include ../../page-component/home/special-product