include ../abstract/mixins
.container-fluid.header.gx-0
    .header-container
        .container
            .row.gx-5
                +topbar()
.container-fluid.gx-0
    .header-bg 
        .header-title
            h1.header-title-big Rượu vang đỏ
            h2.header-title-small Since 1980
