@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
:root {
  --color-primary: #e6ae48;
  --color-white: #fff;
  --bg-color: #fff;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 15px;
  line-height: 28px;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-heading);
}

.top-bar {
  font-size: 12px;
}
.top-bar-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 32px;
}
.top-bar-item a {
  color: #d6d6d6;
  transition: all 0.2s;
}
.top-bar-item a:hover {
  color: var(--color-primary);
}
.top-bar-item:not(:first-child)::before {
  display: inline-block;
  content: "";
  border-top: 2px solid black;
  width: 1rem;
  margin-bottom: 3px;
}
.top-bar-search {
  flex: 0 0 auto;
  width: 25%;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
}

@media (min-width: 576px) {
  .container-sm, .container-xs {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container-xs {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container-xs {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container-xs {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container-xs {
    max-width: 1320px;
  }
}
.col-xs-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-xs-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-xs-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-xs-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-xs-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-xs-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-xs-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-xs-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-xs-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-xs-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-xs-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-xs-12 {
  flex: 0 0 auto;
  width: 100%;
}

.gx-0 {
  --gutter-x: 0 !important;
}

.gy-0 {
  --gutter-x: 0 !important;
}

.g-0 {
  --gutter-x: 0 !important;
  --gutter-y: 0 !important;
}

.gx-1 {
  --gutter-x: 0.25rem !important;
}

.gy-1 {
  --gutter-x: 0.25rem !important;
}

.g-1 {
  --gutter-x: 0.25rem !important;
  --gutter-y: 0.25rem !important;
}

.gx-2 {
  --gutter-x: 0.5rem !important;
}

.gy-2 {
  --gutter-x: 0.5rem !important;
}

.g-2 {
  --gutter-x: 0.5rem !important;
  --gutter-y: 0.5rem !important;
}

.gx-3 {
  --gutter-x: 1rem !important;
}

.gy-3 {
  --gutter-x: 1rem !important;
}

.g-3 {
  --gutter-x: 1rem !important;
  --gutter-y: 1rem !important;
}

.gx-4 {
  --gutter-x: 1.5rem !important;
}

.gy-4 {
  --gutter-x: 1.5rem !important;
}

.g-4 {
  --gutter-x: 1.5rem !important;
  --gutter-y: 1.5rem !important;
}

.gx-5 {
  --gutter-x: 3rem !important;
}

.gy-5 {
  --gutter-x: 3rem !important;
}

.g-5 {
  --gutter-x: 3rem !important;
  --gutter-y: 3rem !important;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gx-0 {
    --gutter-x: 0 !important;
  }
  .gy-0 {
    --gutter-x: 0 !important;
  }
  .g-0 {
    --gutter-x: 0 !important;
    --gutter-y: 0 !important;
  }
  .gx-1 {
    --gutter-x: 0.25rem !important;
  }
  .gy-1 {
    --gutter-x: 0.25rem !important;
  }
  .g-1 {
    --gutter-x: 0.25rem !important;
    --gutter-y: 0.25rem !important;
  }
  .gx-2 {
    --gutter-x: 0.5rem !important;
  }
  .gy-2 {
    --gutter-x: 0.5rem !important;
  }
  .g-2 {
    --gutter-x: 0.5rem !important;
    --gutter-y: 0.5rem !important;
  }
  .gx-3 {
    --gutter-x: 1rem !important;
  }
  .gy-3 {
    --gutter-x: 1rem !important;
  }
  .g-3 {
    --gutter-x: 1rem !important;
    --gutter-y: 1rem !important;
  }
  .gx-4 {
    --gutter-x: 1.5rem !important;
  }
  .gy-4 {
    --gutter-x: 1.5rem !important;
  }
  .g-4 {
    --gutter-x: 1.5rem !important;
    --gutter-y: 1.5rem !important;
  }
  .gx-5 {
    --gutter-x: 3rem !important;
  }
  .gy-5 {
    --gutter-x: 3rem !important;
  }
  .g-5 {
    --gutter-x: 3rem !important;
    --gutter-y: 3rem !important;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gx-0 {
    --gutter-x: 0 !important;
  }
  .gy-0 {
    --gutter-x: 0 !important;
  }
  .g-0 {
    --gutter-x: 0 !important;
    --gutter-y: 0 !important;
  }
  .gx-1 {
    --gutter-x: 0.25rem !important;
  }
  .gy-1 {
    --gutter-x: 0.25rem !important;
  }
  .g-1 {
    --gutter-x: 0.25rem !important;
    --gutter-y: 0.25rem !important;
  }
  .gx-2 {
    --gutter-x: 0.5rem !important;
  }
  .gy-2 {
    --gutter-x: 0.5rem !important;
  }
  .g-2 {
    --gutter-x: 0.5rem !important;
    --gutter-y: 0.5rem !important;
  }
  .gx-3 {
    --gutter-x: 1rem !important;
  }
  .gy-3 {
    --gutter-x: 1rem !important;
  }
  .g-3 {
    --gutter-x: 1rem !important;
    --gutter-y: 1rem !important;
  }
  .gx-4 {
    --gutter-x: 1.5rem !important;
  }
  .gy-4 {
    --gutter-x: 1.5rem !important;
  }
  .g-4 {
    --gutter-x: 1.5rem !important;
    --gutter-y: 1.5rem !important;
  }
  .gx-5 {
    --gutter-x: 3rem !important;
  }
  .gy-5 {
    --gutter-x: 3rem !important;
  }
  .g-5 {
    --gutter-x: 3rem !important;
    --gutter-y: 3rem !important;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gx-0 {
    --gutter-x: 0 !important;
  }
  .gy-0 {
    --gutter-x: 0 !important;
  }
  .g-0 {
    --gutter-x: 0 !important;
    --gutter-y: 0 !important;
  }
  .gx-1 {
    --gutter-x: 0.25rem !important;
  }
  .gy-1 {
    --gutter-x: 0.25rem !important;
  }
  .g-1 {
    --gutter-x: 0.25rem !important;
    --gutter-y: 0.25rem !important;
  }
  .gx-2 {
    --gutter-x: 0.5rem !important;
  }
  .gy-2 {
    --gutter-x: 0.5rem !important;
  }
  .g-2 {
    --gutter-x: 0.5rem !important;
    --gutter-y: 0.5rem !important;
  }
  .gx-3 {
    --gutter-x: 1rem !important;
  }
  .gy-3 {
    --gutter-x: 1rem !important;
  }
  .g-3 {
    --gutter-x: 1rem !important;
    --gutter-y: 1rem !important;
  }
  .gx-4 {
    --gutter-x: 1.5rem !important;
  }
  .gy-4 {
    --gutter-x: 1.5rem !important;
  }
  .g-4 {
    --gutter-x: 1.5rem !important;
    --gutter-y: 1.5rem !important;
  }
  .gx-5 {
    --gutter-x: 3rem !important;
  }
  .gy-5 {
    --gutter-x: 3rem !important;
  }
  .g-5 {
    --gutter-x: 3rem !important;
    --gutter-y: 3rem !important;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gx-0 {
    --gutter-x: 0 !important;
  }
  .gy-0 {
    --gutter-x: 0 !important;
  }
  .g-0 {
    --gutter-x: 0 !important;
    --gutter-y: 0 !important;
  }
  .gx-1 {
    --gutter-x: 0.25rem !important;
  }
  .gy-1 {
    --gutter-x: 0.25rem !important;
  }
  .g-1 {
    --gutter-x: 0.25rem !important;
    --gutter-y: 0.25rem !important;
  }
  .gx-2 {
    --gutter-x: 0.5rem !important;
  }
  .gy-2 {
    --gutter-x: 0.5rem !important;
  }
  .g-2 {
    --gutter-x: 0.5rem !important;
    --gutter-y: 0.5rem !important;
  }
  .gx-3 {
    --gutter-x: 1rem !important;
  }
  .gy-3 {
    --gutter-x: 1rem !important;
  }
  .g-3 {
    --gutter-x: 1rem !important;
    --gutter-y: 1rem !important;
  }
  .gx-4 {
    --gutter-x: 1.5rem !important;
  }
  .gy-4 {
    --gutter-x: 1.5rem !important;
  }
  .g-4 {
    --gutter-x: 1.5rem !important;
    --gutter-y: 1.5rem !important;
  }
  .gx-5 {
    --gutter-x: 3rem !important;
  }
  .gy-5 {
    --gutter-x: 3rem !important;
  }
  .g-5 {
    --gutter-x: 3rem !important;
    --gutter-y: 3rem !important;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .gx-0 {
    --gutter-x: 0 !important;
  }
  .gy-0 {
    --gutter-x: 0 !important;
  }
  .g-0 {
    --gutter-x: 0 !important;
    --gutter-y: 0 !important;
  }
  .gx-1 {
    --gutter-x: 0.25rem !important;
  }
  .gy-1 {
    --gutter-x: 0.25rem !important;
  }
  .g-1 {
    --gutter-x: 0.25rem !important;
    --gutter-y: 0.25rem !important;
  }
  .gx-2 {
    --gutter-x: 0.5rem !important;
  }
  .gy-2 {
    --gutter-x: 0.5rem !important;
  }
  .g-2 {
    --gutter-x: 0.5rem !important;
    --gutter-y: 0.5rem !important;
  }
  .gx-3 {
    --gutter-x: 1rem !important;
  }
  .gy-3 {
    --gutter-x: 1rem !important;
  }
  .g-3 {
    --gutter-x: 1rem !important;
    --gutter-y: 1rem !important;
  }
  .gx-4 {
    --gutter-x: 1.5rem !important;
  }
  .gy-4 {
    --gutter-x: 1.5rem !important;
  }
  .g-4 {
    --gutter-x: 1.5rem !important;
    --gutter-y: 1.5rem !important;
  }
  .gx-5 {
    --gutter-x: 3rem !important;
  }
  .gy-5 {
    --gutter-x: 3rem !important;
  }
  .g-5 {
    --gutter-x: 3rem !important;
    --gutter-y: 3rem !important;
  }
}
.row {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gutter-y));
  margin-right: calc(-0.5 * var(--gutter-x));
  margin-left: calc(-0.5 * var(--gutter-x));
}
.row > * {
  --gutter-x: 1.5rem;
  --gutter-y: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--gutter-x) * 0.5);
  padding-left: calc(var(--gutter-x) * 0.5);
  margin-top: var(--gutter-y);
}