.special {
  position: relative;
  &-bg {
    img {
      height: 750px;
      width: 100%;
    }
  }
  &-container {
    max-width: 100%;
  }
  &-product {
    background-color: var(--color-white);
    width: 945px;
    max-width: 100%;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    @include py(96px);
    @include px(74px);
    &-img {
      @include flex($justify: center);
      width: 100%;
      img {
        height: 471px;
      }
    }
    &-detail {
      width: 100% !important;
      h2 {
        font-size: 25px;
        line-height: 31px;
        color: var(--color-product);
      }
      img {
        margin-top: 6px;
      }
    }
    &-price {
      font-style: italic;
      font-weight: 400;
      font-size: 34px;
      line-height: 31px;
      margin: 28px 0;
      color: var(--color-primary);
    }
  }
  &-btn {
    padding: 12px 24px;
    margin-bottom: 44px;
  }
  &-time {
    color: var(--color-primary);

    flex: 0 0 auto;
    @include flex($direction: column, $justify: center, $align: center);
    padding: 10px 0;

    width: 50%;
    &-number {
      font-weight: 400;
      font-size: 34px;
      line-height: 31px;
    }
    &-unit {
      font-size: 17px;
    }
    &:nth-child(1) {
      border-right: 2px solid var(--color-primary);
      border-bottom: 2px solid var(--color-primary);
    }
    &:nth-child(4) {
      border-left: 2px solid var(--color-primary);
      border-top: 2px solid var(--color-primary);
    }
  }
  &-time-box {
    border: 2px solid var(--color-primary);
    @include flex($wrap: wrap);
    margin-top: 50px;
  }
  @include media-breakpoint-down('lg') {
    &-product {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      &-detail {
        margin-top: 25px;
      }
    }
  }
}
